<!DOCTYPE html>
<html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
 	$('.carousel').carousel();
 	});
 </script>

<body>
	<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><%= link_to image_tag("finance1.jpg", alt: "finance1") %></div>
    <div class="item"><%= link_to image_tag("finance2.jpg", alt: "finance2") %></div>
    <div class="item"><%= link_to image_tag("finance3.jpg", alt: "finance3") %></div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<script src="C:\Sites\rails_projects\beta1-master\app\assets\javascripts\carousel.js"></script>  



</body>
</html>






